button {
    margin: .7rem;
    padding: .25rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--light);
    background-color: transparent;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    color: var(--light);
}

button:hover {
    cursor: pointer;
}

.ComprarFinal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ComprarFinal a,
.ComprarFinal button {
    background-color: var(--first);
    margin: .7rem;
    padding: .6rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--light);
    min-width: 7rem;
    min-height: 2rem;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--light);
}

.ComprarFinal a:hover {
    cursor: pointer;
    background-color: var(--fourth);
}

.ComprarFinal a {
    width: 100%;
}

.ComprarFinal a.VolverFinal {
    margin-top: 4rem;
    width: 100%;
}

@media (width <=640px) {

    .ComprarFinal {
        justify-content: center;
    }
    .ComprarFinal a {
        width: 50vw;
    }
}