button {
    margin: .7rem;
    padding: .25rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--light);
    background-color: transparent;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    color: var(--light);
}

button:hover {
    cursor: pointer;
}