button {
    margin: .7rem;
    padding: .25rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--light);
    background-color: transparent;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    color: var(--light);
}

button:hover {
    cursor: pointer;
}

.ComprarFinal {
    display: flex; 
    justify-content: center;  
}
.FinalButtons{
    flex-direction: column;
    justify-content: center;
}
.ComprarFinal a,
.ComprarFinal button {
    background-color: var(--first);
    margin: .7rem;
    padding: .6rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--light);
    min-width: 7rem;
    min-height: 2rem;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--light);
}

.ComprarFinal a:hover {
    cursor: pointer;
    background-color: var(--fourth);
}
.ComprarFinal a.VolverFinal {
    margin-top: 4rem;
}
.CloseItem{
    position: absolute;
    right: 6rem;
    background-color: var(--brick);
    min-width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (width <=640px) {

    .ComprarFinal {
        justify-content: center;
    }
    .ComprarFinal a {
        width: 50vw;
    }
    .CloseItem{
        right: 2rem;
        min-width: 24px;
    }
    .CloseItem img{
        width: 1.1rem;
        padding: 0;
    }
}