.Card {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    max-width: 40rem;
    padding: 50px 30px 50px 20px;
    background: var(--sweetdark);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 8%);
}
.Card:hover{
    box-shadow: none;
}

.Card img{
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.Card img:hover{
    transform: scale(1.05); 
    cursor: pointer;
}
.Card h2{
    font-size: 1.6rem;
}

.Card h3{
    color: rgb(0 0 0 / 90%);
    font-size: 1.2rem;
    padding-top: 1rem;
}

.Card p{
    color: rgb(0 0 0 / 70%);
    font-size: .9rem;
}
.Card .Dates{
    padding-bottom:  1rem;
}
.Dates h2{
    color: var(--brick);
}
.Card .Btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Card button{
    background-color: var(--brick);
}

.Card button:hover{
    background-color: var(--fourth);
}


.Card h3.Price{    
    color: var(--fourth);
    font-size: 1.6rem;
    float: right;
}

@media (width <= 740px) {
    .Card{
        flex-direction: column;
        text-align: center;
        margin: 2rem 1.5rem;
        padding-top: 2rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        width: 100%;
    }
    .Card img{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
    .Card button{
        margin-top: 1rem;
    }
    .Card h3.Price{    
        font-size: 1.4rem;
        float: none;
    }
    .Card .Btn {
        align-items: center;
    }
}