.Card {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: 50vh;
    max-width: 35rem;
    padding: 50px 8px 50px 20px;
    background: var(--sweetdark);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 8%);
}
.Card:hover{
    box-shadow: none;
}

.Card img{
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.Card img:hover{
    transform: scale(1.05); 
    cursor: pointer;
}
.Card h2{
    font-size: 1.6rem;
}

.Card h3{
    color: rgb(0 0 0 / 90%);
    font-size: 1.2rem;
    padding-top: 1rem;
}

.Card p{
    color: rgb(0 0 0 / 70%);
    font-size: .9rem;
}
.Card .Dates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    padding:  1rem 1.5rem 1rem 0;
}
.Card .Dates h2,  .Card .Dates h3{
    text-align: left;
}
.Dates h2{
    color: var(--brick);
}

.Card .Btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Card button{
    border: solid 1px var(--brick);
    background-color: transparent;
    color: var(--brick);
    min-width: 230px;
}

.Card button:hover{
    border: solid 1px var(--fourth);
    background-color: var(--fourth);
    color: var(--light);
}
.Card img.Favoritos{
    width: 26px;
    height: 26px;
    position: sticky;
    z-index: 10 ;
    margin: 2rem 0;
}

.Card h3.Price{    
    color: var(--fourth);
    font-size: 1.6rem;
}


.CardDetail .Btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 240px;
}
.CardDetail .Btn img{
    width: 40px;
    height: 40px;
}
.CardDetail{
    display: flex;
    text-align: left;
    width: 90vw;
    min-height: 70vh;
    max-width: 80rem;
    margin: 2rem 1.5rem;
    padding-top: 2rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    background-color: aliceblue;    
    min-height: 80vh; 
}

.CardDetail img{
    margin: -100px 0 30px 0;
    width: 32rem;
    max-width: 1000px;
    border-radius: 1rem;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.CardDetail button{
    margin-top: 1rem;
    width: 100%;
}
.CardDetail h3.Price{    
    font-size: 1.8rem;
    float: none;
}
@media (width <= 878px) {
    .CardDetail {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 75vw;   
        min-height: 100vh;  
    }
    .Card .Btn {
        align-items: center;
    }
}

@media (width <= 840px) {
    .CardDetail{
        max-width: 758px;
        flex-direction: column;
        text-align: center;
        margin: 2rem 1.5rem;
        padding-top: 2rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        width: 90% !important;
    }
    .Card .Dates{
        padding:  1rem 1.2rem 1rem 0;
    }
}
@media (width <= 750px) {
    .Card{
        flex-direction: column;
        text-align: center;
        margin: 2rem 1.5rem;
        padding-top: 3rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        width: 100%;
        min-height: 75vh;
    }
    .Card img{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
    .Card button{
        margin-top: 1rem;
    }
    .Card h3.Price{    
        font-size: 1.4rem;
        float: none;
    }
    
    .Card .Dates{
        padding:  0;
    }
    .CardDetail{
        min-height: 100vh;  
    }
}