.Card {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: 50vh;
    max-width: 35rem;
    padding: 50px 8px 50px 20px;
    background: var(--sweetdark);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 8%);
}
.Card:hover{
    box-shadow: none;
}

.Card img{
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.Card img:hover{
    transform: scale(1.05); 
    cursor: pointer;
}
.Card h2{
    font-size: 1.6rem;
}

.Card h3{
    color: rgb(0 0 0 / 90%);
    font-size: 1.2rem;
    padding-top: 1rem;
}

.Card p{
    color: rgb(0 0 0 / 70%);
    font-size: .9rem;
}
.Card .Dates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    padding:  1rem 1.5rem 1rem 0;
}
.Card .TextDates{
    align-self: start;
}
.Card .Dates h2,  .Card .Dates h3{
    text-align: left;
}
.Dates h2{
    color: var(--brick);
}

.Card .Btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Card button{
    border: solid 1px var(--brick);
    background-color: transparent;
    color: var(--brick);
    min-width: 230px;
}

.Card button:hover{
    border: solid 1px var(--fourth);
    background-color: var(--fourth);
    color: var(--light);
}
.Card a{
    margin: .7rem;
    padding: .6rem .8rem;
    border-radius: .25rem;
    min-height: 2.5rem;
    font-size: 1rem;
    border: solid 1px var(--brick);
    background-color: transparent;
    color: var(--brick);
    min-width: 230px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;    
}
.Btn .BackBoard{
    min-width: 230px !important;
}

.Like:hover{
    cursor: pointer;
}

.Card a:hover{
    cursor: pointer;
    border: solid 1px var(--fourth);
    background-color: var(--fourth);
    color: var(--light);
}
.Card img.Favoritos{
    width: 26px;
    height: 26px;
    position: sticky;
    z-index: 10 ;
    margin: .8rem 0;
}

.Card h3.Price{    
    color: var(--fourth);
    font-size: 1.6rem;
}
.CardDetail{
    display: flex;
    text-align: left;
    max-width: 80rem;
    width: 90vw;
    min-height: 70vh;
    margin: 6rem 1.5rem;
    padding-top: 2rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    background-color: aliceblue;    
    min-height: 80vh; 
}
.CardDetail .Btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 240px;
}
.CardDetail .Btn img{
    width: 40px;
    height: 40px;
}
.CardDetail img{
    margin: -100px 0 30px 0;
    width: 32rem;
    max-width: 1000px;
    border-radius: 1rem;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.CardDetail img.Donald{
    margin: 0;
    padding: 0;
    height: auto;
    box-shadow: none;
}
.CardDetail button{
    margin-top: 1rem;
    width: 100%;
}
.CardDetail h3.Price{    
    font-size: 1.8rem;
    float: none;
}
.CardDetail .Dates {
    align-items: start;
}
.CardDetail .Dates h2{
    font-size: 2.3rem;
}
.CardDetail .Dates h3{
    font-size: 1.8rem;
}
.CardDetail .Dates p{
    font-size: 1.3rem;
}
.Fav-Icon{
    margin: 0 !important;
    padding: 0 !important;
    min-height: 0 !important;
    border: none !important;
    background-color: transparent;
    color: currentColor !important;
    min-width: 32px !important;    
}
.Fav-Icon svg{
    margin-top: .5rem;
    padding-top: .25rem;
    width: 32px !important;
    height: 32px !important;
}
.Fav-Icon:hover{
    cursor: pointer;
    background-color: transparent !important;
}


.Controls{
    display: flex;    
    justify-content: center;
    align-items: center;
}

.Card button.ButtonControls{
    border: none;
    min-width: 24px !important;
    height: 24px !important;
    font-size: 1.5rem;
}
.Card button.ButtonControls:hover{
    background-color: transparent;
    color: var(--fourth);    
}
h4.Number{
    font-size: 1.5rem;
}
.Card a.ProductInCart{
    background-color: var(--fourth);
    color: var(--light);
    border: var(--light);
}
.Checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (width <= 878px) {
    .CardDetail {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 75vw;   
        min-height: 100vh;  
        margin: 10rem 1.5rem;
    }
    .Card .Btn {
        align-items: center;
    }
}

@media (width <= 840px) {
    .CardDetail{
        max-width: 758px;
        flex-direction: column;
        text-align: center;
        margin: 8rem 1.5rem;
        padding-top: 2rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        width: 90% ;
    }
    .Card .Dates{
        padding:  1rem 1.2rem 1rem 0;
    }
}
@media (width <= 750px) {
    .Card{
        flex-direction: column;
        text-align: center;
        padding-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        min-height: 690px;
    }
    .Card img{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
    .Card button{
        margin-top: 1rem;
    }
    .Card h3.Price{    
        font-size: 1.4rem;
        float: none;
    }
    
    .Card .Dates{
        padding:  0;
    }
    .CardDetail{
        min-height: 890px;
    }
}

@media (width <= 640px) {
    .Card,
    .CardDetail{
        width: 95%;
        margin: 3rem 0;
    }
    .CardDetail{
        width: 95%;
        margin: 8rem .5rem 3rem .5rem ;
    }
    
}