.Card {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    max-width: 40rem;
    padding: 50px 8px 50px 20px;
    background: var(--sweetdark);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 8%);
}
.Card:hover{
    box-shadow: none;
}

.Card img{
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.Card img:hover{
    transform: scale(1.05); 
    cursor: pointer;
}
.Card h2{
    font-size: 1.6rem;
}

.Card h3{
    color: rgb(0 0 0 / 90%);
    font-size: 1.2rem;
    padding-top: 1rem;
}

.Card p{
    color: rgb(0 0 0 / 70%);
    font-size: .9rem;
}
.Card .Dates{
    padding-bottom:  1rem;
}
.Dates h2{
    color: var(--brick);
}
.Dates>img{    
    float: right;    
}
.Card .Btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Card button{
    border: solid 1px var(--brick);
    background-color: transparent;
    color: var(--brick);
}

.Card button:hover{
    border: solid 1px var(--fourth);
    background-color: var(--fourth);
    color: var(--light);
}
.Card img.Favoritos{
    width: 26px;
    height: 26px;
    position: sticky;
    z-index: 10 ;
    margin: 1rem 0 2rem 0;
}

.Card h3.Price{    
    color: var(--fourth);
    font-size: 1.6rem;
}


.CardDetail .Btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 240px;
}
.CardDetail{
    display: flex;
    text-align: left;
    width: 75vw;
    max-width: 80rem;
    margin: 2rem 1.5rem;
    padding-top: 2rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    background-color: aliceblue;
    width: 100%;
}

.CardDetail img{
    margin: -100px 0 30px 0;
    width: 32rem;
    max-width: 1000px;
    border-radius: 1rem;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    transition: transform .2s ease-in-out; 
}
.CardDetail button{
    margin-top: 1rem;
    width: 100%;
}
.CardDetail h3.Price{    
    font-size: 1.8rem;
    float: none;
}

@media (width <= 840px) {
    .CardDetail{
        max-width: 758px;
        flex-direction: column;
        text-align: center;
        margin: 2rem 1.5rem;
        padding-top: 2rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        width: 90% !important;
    }
}
@media (width <= 740px) {
    .Card{
        flex-direction: column;
        text-align: center;
        margin: 2rem 1.5rem;
        padding-top: 2rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        width: 100%;
    }
    .Card img{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
    .Card button{
        margin-top: 1rem;
    }
    .Card h3.Price{    
        font-size: 1.4rem;
        float: none;
    }
    .Card .Btn {
        align-items: center;
    }
    
}