.ContactForm {
    margin: 3rem 0;
}

h4.NoMargin {
    margin-left: 0;
}

.LonneInput {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    padding-bottom: 1rem;
}
.Line{
    border-bottom: 2px solid var(--light);
}
.LonneInput label,
.LonneInput input {
    font-size: 1.2rem;
    margin-bottom: .8rem;
    color: var(--fourth);
}

.LonneInput textarea,
.LonneInput input,
.LonneInput select {
    margin-bottom: 1rem;
    height: 2.5rem;
    border: none;
    border-radius: .5rem .5rem 0 0;
    border-bottom: solid 1px var(--fourth);
    background-color: var(--second);
    color: var(--gold);
    padding: .5rem;
}

.LonneInput textarea {
    height: 8rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.Contacto {
    margin: 5rem 0;
}
.CategorySelect{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.CategorySelect select{
    width: 30rem;
    background-color: var(--second);  
    font-size: 1.2rem;  
    padding: .5rem;
    height: 3rem;
}
.CheckOutDiv{
    margin-bottom: 3rem;
}
.CheckOutDiv h3{
    text-align: center;
    padding-bottom: 2rem;
}

p.MuiTypography-body1 {
    padding-top: 2rem;

}
.MuiButton-containedPrimary {
    color: #fff;
    background-color: var(--fourth) !important;
}

@media (max-width: 959.95px){

.makeStyles-cardAdmin-5,
.makeStyles-cardAdmin-1 {
    width: 380px !important;
}}

@media (width <= 640px) {
    .CategorySelect select {
        max-width: 280px;
        font-size: 1rem;
        height: 2.5rem;
    }
    .CategorySelect select option{
        width: 340px;
    }    
    .CategorySelect {
        flex-direction: column;
    }
    .LonneInput {
        align-items: center;
        min-width: auto;
    }
}