form.CreditCardForm{
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem 0;
}

form.CreditCardForm input{
    height: 2.3rem;
    margin: .25rem 0;
    border: none;
    font-family: 'Roboto';
    color: var(--fourth);
    font-size: 1rem;
    border-radius: .25rem;
    padding: 1rem;
}
form.CreditCardForm input.CVC{
    margin-left: .5rem;
}
.FinalDates{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h1.Mini{
    font-size: 3rem;
}

.CreditCardForm button{
    margin-top: 2rem;
    background-color: var(--first);
}
.CreditCardForm button:hover{
    background-color: var(--fourth);
}

@media (width <= 640px) {
    form.CreditCardForm{        
        width: 100vw;
        align-items: center;
        padding: 2rem;
    }
    .FinalDates{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FinalDates> input{       
        margin: 0;
        padding: 0;
    }
    form.CreditCardForm input.CVC{
        margin-left: 0;
    }
}