.Footer{
    position: sticky;
    margin-bottom: 0;
}
.Footer p{
    color: var(--light);
    font-family: var(--fontB);
    font-size: 1.2rem;
    text-align: center;
}
.Iconos-social{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.Iconos-social> img{
    width: 3.5rem;
    margin: 0 1rem;
    padding: .5rem;
    transition: transform .2s ease-in-out; 
}

.Iconos-social> img:hover{
    cursor: pointer;
    transform: scale(1.3); 
}

@media (width <= 740px) {
    .Footer p{
        padding: 0 1rem;
        font-size: .7rem;
    }
}