/* Variables */
:root {
    /* Colores */
    --first:  #90A755; 
    --second: #f5f5f5;
    --third: #3d4b19;
    --fourth: #7d895d;
    --gold: #464646;
    --light: #eee;
    --dark: #333;
    --white: #eee;
    --sweetdark: #cdcdcd;
    --brick: #c93c20 ;
    /* Tamaños */
    --small: 200px;
    --medium: 400px;
    --large: 600px;
    /* Tipografia */
    --fontR: 'Roboto', sans-serif;
    --fontP: 'Playfair', sans-serif;
    --fontB: 'Barlow', sans-serif;
    --fontA: 'Arual', sans-serif;
    --fontAn: 'Anastas', sans-serif;
}

/* Importacion de Tipografia */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Playfair";
    src: url('../assets/font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Anastas";
    src: url('../assets/font/ANASTAS.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Arual";
    src: url('../assets/font/Arual.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Barlow";
    src: url('../assets/font/BarlowSemiCondensed-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

/* Reglas de Utilidad */
* {    
    font-family: var(--fontR);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Reinicios de Estilos */
/* Margenes */
body,
h1,
h2,
h3,
h4,
header p,
.submenu,
.subitems,
.menu {
    margin: 0;
}

h1{
    font-size: 1.3em;
    margin-block-start: 0.77em;
    margin-block-end: 0.77em;
}
h2{
    font-size: 1.1em;
    line-height: 1.8rem;
}
h3{
    font-size: 0.9em;
}
p{
    font-size: .6em;
}
/* Rellenos */
.submenu,
.subitems,
.menu {
    padding: 0;
}

/* Bordes */
iframe {
    border: 0;
}

/* Estilos */
:is(header,
    nav,
    footer,
    ul) a {
    text-decoration: none;
}

:is(ul) li {    
    list-style: none;
}

body{
    background-color: var(--first);
}


/* 2023 - Autor: Alejandro Daniel Di Stefano */