.App-header {
    background-color: #90a755;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(.8rem + 2vmin);
    color: var(--light);
}

.App-header>h2,
h3 {
    font-family: var(--fontB);
}

.App-logo {
    height: 50vmin;
    pointer-events: none;
}
