.Navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    padding: .5rem 1rem;
    height: 2.5rem;
    font-family: var(--fontB);
    border: 1px solid var(--first);
}

.Navbar ul li:hover {
    background-color: var(--fourth);
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid var(--light);
}


.Navbar .App-logo {
    height: 4rem;
}

.Navbar>button {
    margin: 1rem;
    padding: .25rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--light);
    background-color: transparent;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    color: var(--light);
}

.Navbar>button:hover {
    cursor: pointer;
    background-color: var(--fourth);    
}

.App-header {
    background-color: var(--first);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(.8rem + 2vmin);
    color: var(--light);
}

.App-header>h2,
h3 {
    font-family: var(--fontB);
}

.App-logo {
    height: 50vmin;
    pointer-events: none;
}

.Logo {
    height: 5rem;
}