.ItemListDetail {
    padding: 0 2rem;
    width: 100vw;
}

.ItemListDetail tbody tr td img {
    width: 4rem;
}

.ItemListDetail th {
    min-width: 5rem;
}

.ItemListDetail .RightItem {
    text-align: right;
}

.ItemListDetail .LeftItem {
    text-align: left;
}

.ItemListDetail tbody tr td {
    font-size: 1rem;
    padding: 0 .5rem;
    background-color: white;
    border: solid 0.5px var(--sweetdark);
}

.ItemListDetail tbody tr td .InputCantidad {
    width: 3rem;
    color: var(--gold);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid var(--fourth);
}

.ButtonItemListDetail {
    display: flex;
    justify-content: flex-end;
}

.ButtonItemListDetail button {
    margin: .7rem;
    padding: .25rem .8rem;
    border-radius: .25rem;
    border: 1px solid var(--fourth);
    background-color: transparent;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    color: var(--fourth);
    float: right;
}

.ButtonItemListDetail button:hover {
    cursor: pointer;
    background-color: var(--fourth);
    color: var(--light);
}

.Listado {
    justify-content: center;
    margin-bottom: 5rem;
}

img.CarritoList {
    width: 24px !important;
}

.CarritoListButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CarritoListButton button {
    margin: 0;
    padding: .25rem;
    min-width: 2rem;
    min-height: 1rem;
    width: 3rem;
}

.IsInCart>button {
    margin: 0;
    padding: 0;
    min-height: 2.3rem;
    min-width: 4rem !important;
}

.Disabled>button {
    background-color: var(--sweetdark);
}

.Disabled>button:hover {
    cursor: not-allowed;
}

.IsInCart>button>img {
    width: 1rem !important;
}

td>.OutStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--brick);
}

td>.OutStock p {
    margin: 0;
    font-size: .8rem;
}

.DatesAdmin {
    display: flex;
    flex-direction: column;
}

.BotonAdmin button {
    background-color: var(--first);
    border: solid 1px var(--first);
    color: var(--light);
}

.BotonAdmin button:hover {
    background-color: transparent;
    color: var(--first);
}
.Precios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Precios_01{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Porcentaje{
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
.Porcentaje button{
    width: 15rem;
}
.Porcentaje h5{
    color: var(--fourth);
    font-weight: 100;
    padding-right: 1rem;
}
.Porcentaje input{
    width: 4rem;
}
.InputPorcentaje{
    height: 2.5rem;
    width: 15rem;
    font-size: 1rem;
    color: var(--fourth);
}

@media print {

    body,
    .App-main {
        background-color: white;
    }

    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }

    .OrderConfirmation {
        width: 90%;
        height: auto;
    }

    .ItemListDetail tbody tr td,
    .PriceProducto {
        font-size: 1.2rem !important;
    }
}

@media (width <=1080px) {

    .ItemListDetail tbody tr td {
        height: 2.5rem;
    }

}

@media (width <=800px) {
    .ItemListDetail {
        padding: 0 1rem;
    }

    .ItemListDetail th {
        min-width: 1rem;
        font-size: .8rem;

    }

    .ItemListDetail tbody tr td img {
        width: 2rem;
        padding: 0;
    }

    .ButtonItemListDetail button {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .ItemListDetail tbody tr td {
        font-size: .7rem;

    }

    .Responsive {
        display: none;
    }

}

@media (width <=640px) {
    .ItemListDetail th {
        min-width: 1rem;
        font-size: .6rem;
    }

    .ItemListDetail tbody tr td img {
        width: 2.2rem;
        padding: 0;
    }

    .ButtonItemListDetail button {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .ItemListDetail tbody tr td {
        font-size: .5rem;
    }

}