.App-main {
    background-color: var(--light);
    min-height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(.8rem + 2vmin);
    color: var(--brick);
}

.App-main h1{
    font-family: var(--fontA);
    font-size: 5rem;
    margin-bottom: 1rem;
    color: var(--first);
    text-shadow: .025rem .25rem 1.25rem var(--first);
    text-align: center;
}
.Logo-Icono{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

@media (width <= 840px) {
    .App-main h1{
        font-size: 3rem;
        margin-bottom: 3rem;
    }

}