.Navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    height: 2.5rem;
    font-family: var(--fontB);
    border: 1px solid var(--first);
}

.Navbar ul li:hover {
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid var(--light);
}

.Navbar ul li > .Cart{
    margin-right: 1rem;
}

.Navbar .App-logo {
    height: 5rem;
    float: left;
}

.App-logo {
    height: 50vmin;
    pointer-events: none;
}

.Counter{
    display: flex;
}
.Counter img{
    width: 24px;
}

@media (width <= 740px) {
    .Navbar{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .Navbar .App-logo{
        display: none;
    }
}