.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination > li> button{
    min-width: 0;
    width: 2rem !important;
}

.Pagination_Button button {
    background-color: transparent;
    color: var(--first);
    border: solid 1px var(--first);    
}

.Pagination_Button button:hover {    
    border: solid 1px var(--third);
    color: var(--third);
}
