/* Reglas generales */
@import url(format.css);

/* Header */
@import url(Header.css);

/* Navbar */
@import url(Navbar.css);

/* Main */
@import url(Main.css);

/* Footer */
@import url(Footer.css);

/* Botones */
@import url(Button.css);

/* WhatsAppButton */
@import url(WhatsAppButton.css);

/* Cards */
@import url(Card.css);
@import url(CardsPanel.css);
@import url(Cart.css);
@import url(CreditCard.css);
@import url(ItemListDetail.css);
@import url(Loader.css);
@import url(ContactForm.css);
@import url(History.css);
@import url(OrderConfirmation.css);

/* Autor: Alejandro Daniel Di Stefano */